<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="1.2.0" targetFramework="net35" />
  <package id="Castle.DynamicProxy" version="2.2.0" targetFramework="net35" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net35" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net35" />
  <package id="log4net" version="2.0.10" targetFramework="net35" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net35" />
  <package id="NLog" version="1.0.0.505" targetFramework="net35" />
  <package id="NUnit" version="2.6.2" targetFramework="net35" />
  <package id="Spring.Aop" version="1.3.2" targetFramework="net35" />
  <package id="Spring.Core" version="1.3.2" targetFramework="net35" />
  <package id="Spring.Data" version="1.3.2" targetFramework="net35" />
  <package id="Spring.Data.NHibernate32" version="1.3.2" targetFramework="net35" />
  <package id="Spring.Testing.NUnit" version="1.3.2" targetFramework="net35" />
</packages>